@media screen and (max-width: 1620px) {
    .offer__list-item {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
  @media screen and (max-width: 1370px) {
    .offer__list-item {
      grid-template-columns: 1fr 1fr 1fr;
    }
}
  @media screen and (max-width: 1115px) {
    .offer__list-item {
      grid-template-columns: 1fr 1fr;
    }
}
  